{# src/AppBundle/Resources/views/Form/BootstrapChoice.html.twig #}

<div class="panel panel-default">

	<div class="panel-body text-center">
	
		<div><strong>{{ title }}</strong></div>
		<br/>

		<div class="btn-group text-center" data-toggle="buttons">
			{% for item in form %}
		        <label class="btn btn-default {% if item.vars.checked == 1 %}active{% endif %}">
		            <input
		            	id="{{ item.vars.id }}"
		            	value="{{ item.vars.value }}"
		            	name="{{ item.vars.full_name }}"
		            	{% if item.vars.checked == 1 %}
		            		checked="checked"
		            	{% endif %}		            	
		            	type="radio">{{ item.vars.label }}
		        </label>
			{% endfor %}
		</div>
	</div>
	
</div>
