{# src/AppBundle/Resources/views/Form/BootstrapButtonSubmit.html.twig #}


{% if action == 1 %}
	<!-- Create -->
	<input type="submit" value="{{ 'action.create'|trans }}" class="btn btn-lg btn-success center-block" />
	
{% elseif action == 2 %}
	<!-- Update -->
	<input type="submit" value="{{ 'action.update'|trans }}" class="btn btn-lg btn-info center-block" />
	
{% endif %}
